<div class="blogpost" markdown="1"> 
<div class="thumb" >
    <a href="{{post.url}}" markdown="1">
        ![{{post.title}}](/{{post.image}})
    </a>
</div>
<span class="link-title">
    [{{post.title | truncatewords:11}}]({{post.url}})
</span>
<p class="description" markdown="1">
{{post.description | truncatewords:10}}
<!--One of the steps of setting up your own blog is finding the best Web Hosting company you can. In this article I'll cover what kind of offering you’ll need from a Web Hosting company and how each piece of it will affect (or benefit) your blogging (and your reader’s) experience.-->
</p>
</div>

