---
---

@import "{{site.theme}}";

#header {
}

#header #logo {
    display: inline-block;
}

#header #logo img {
    width: 140px;
}

#header #copy {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
}

#header #copy a{
    color: #fff;
}


header {
    padding:0px;
}




.blogpost {
    padding: 0px;
    background-color: #efefef;
    width: 44%;
    float: left;
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-height: 385px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    border: 1px dashed #ddd;
}

.blogpost:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.30);
}

.blogpost .thumb-text {
    padding: 10px;
}

.blogpost .thumb-text h2{
    text-align: center;
    font-weight: normal;
}
.blogpost h3 {
    font-size: 12px;
    margin: 0;
    padding:0;
}

.blogpost img {

}

.blogpost a {
    text-transform: uppercase;
    text-align: right;
    float: right;
    margin-top: -26px;
}

.blogpost p.description {
    display: inline-block;
}

.blogpost .thumb {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.nav-item .release-date {
    font-size:12px;
    font-weight: bold;
}


.recommended a img {
    width: 200px;
}

.about-with-picture img{
    width: 300px;
    float: left;
    margin-right: 10px;
}


#pages {
    width: 44%;
    margin: 0px auto;
}



/*
#pages ul {
    list-style: none;
}

#pages ul li {
    list-style: none;
    float: left;
    margin: 0 10px;
    padding: 5px;
}

#pages ul li:hover {
    background-color: #325b8e;
}

#pages ul li a {
    color: white;
}
*/

.section-title {
    font-size: 20px;
    font-weight: bold;
}

body {font: 16px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;color: #666;font-weight: 300;margin: 0px;padding: 0px 0 20px 0px;background: url(../images/body-background.png) #eae6d1;}

.relatedPosts {
    padding: 10px;
}
.relatedPosts h4 {
    font-size: 20px;
}

.related-articles .blogpost {
    width: 44%;
    float: left;
    margin: 15px;
}

.related-articles .blogpost a{
    margin-top: 0px;
}

.related-articles .blogpost .description,
.related-articles .link-title a{
    padding: 5px;
}

.related-articles .link-title a{
    font-weight: bold;
    color: #666;
}

.platform-logo {
    width: 200px;
    text-align: right;
    float: left;
    margin-right: 10px;
}

section {
    width: 90%;
}

.wrapper {
    width: 800px;
}

.sharethis-inline-share-buttons {
    clear: both;
}



nav {
    left: 45%;
}

.post-header-img {
    width: 100%;
}
.post-header-img img {
    width: 100%;
}

footer {
    width: 100%;
    bottom: 20px;
    position: relative;
    margin: 0;
    left: 0;
    text-align: right;
    line-height: 16px;
}

footer p {
    float: right;
    padding: 15px;
}


.social-links,
.social-links ul {
    margin:0px;
    padding:0px;
}

.social-links li {
    list-style: none;
    float: left;
    margin: 10px;
}

.social-links li img {
    width: 30px;
}

.disclosure {
    background: #ddd;
    padding: 10px;
    margin: 10px;
}

div#number1prize {
    display: inline-block;
    float: left;
}

div#number1prize img {
    width: 120px;
}

div#flywheel-logo {
    display: inline-block;
    float: left;
    width: 200px;
}

.clear {
    clear: both;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1060px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1060px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .blogpost {
    width: auto
  }

  #pages {
      width: 100%;
  }
}

@media print, screen and (max-width: 1060px) {
section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px auto;
    margin: 0px auto 20px;
    max-width: 100%;
    width: auto;
}
}

p.page-title {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-banner img{
    width: 100%;
}

.centered {
    text-align: center;
}

li.policies-links {
    clear: both;
    margin:0;
    padding: 0px;
}