---
---

@import "{{site.theme}}";

#header {
}

#header #logo {
    display: inline-block;
}

#header #logo img {
    width: 140px;
}

#header #copy {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
}

#header #copy a{
    color: #fff;
}


header {
    padding-bottom:  0px;
}




.blogpost {
    padding: 10px;
    margin-top: 10px;
    background-color: #efefef;
}

.blogpost h3 {
    font-size: 12px;
    margin: 0;
    padding:0;
}

.blogpost img {

}

.blogpost a {
    clear: both;
    display: block;
    text-transform: uppercase;
    text-align: right;
}

.blogpost p.description {
    display: inline-block;
}
.blogpost .thumb {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.nav-item .release-date {
    font-size:12px;
    font-weight: bold;
}


.recommended a img {
    width: 200px;
}

.about-with-picture img{
    width: 300px;
    float: left;
    margin-right: 10px;
}

#pages {
    margin-left: 310px;
    text-align: left;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
}

body {font: 16px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;color: #666;font-weight: 300;margin: 0px;padding: 0px 0 20px 0px;background: url(../images/body-background.png) #eae6d1;}

.relatedPosts {
    padding: 10px;
}
.relatedPosts h4 {
    font-size: 20px;
}

.related-articles .blogpost {
    width: 44%;
    float: left;
    margin: 5px;
}
.related-articles .link-title a{
    font-weight: bold;
    color: #666;
}

.platform-logo {
    width: 200px;
    text-align: right;
    float: left;
    margin-right: 10px;
}