<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="p:domain_verify" content="2ca671f66b5d86fe8494fb9013eb6841"/>
    <meta name="msvalidate.01" content="42F806C9B0316DD1681686C284B1D839" />
    <meta name="yandex-verification" content="dd50edff98577e4d" />

    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon-180x180.png" />

  
  </head>
  <body>

      <header>
        <div id="header">
          <div id="logo">
            <img src="/assets/images/logo.png" ></img>
          </div>
          <div id="copy">
            <h1><a href="/">My Writing Corner</a></h1>
            <p>I'll share if you share</p>
          </div>
        
        </div>
        <nav id="pages">
          <ul>
            <!--<li class="section-title">Pages</li>-->
            <li><a href="/">Home</a></li>
            <li><a href="/5-step-program">5 Steps to Launch your Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>

    </header>

    
    <div class="wrapper">
      
      <nav id="posts">
        <ul>
          <li class="section-title">Posts</li>
        </ul>
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        <p>Blog's maintainer: <a href="http://twitter.com/deleteman123">Fernando Doglio</a></p>
        <ul class="social-links">
          <li><a href="https://www.facebook.com/my.corner.writing/" target="_blank"><img src="/assets/images/facebook-logo.png" /></a></li>
          <li><a href="https://www.pinterest.com/mywritingcorner/" target="_blank"><img src="/assets/images/pinterest-logo.png" /></a></li>
          <li><a href="http://twitter.com/corner_writing" target="_blank"><img src="/assets/images/twitter-logo.png" /></a></li>
        </ul>
        
      </footer>
    </div>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141486188-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141486188-1');
      </script>
    {% endif %}
    <script id="dsq-count-scr" src="//commentedout-deleteman.disqus.com/count.js" async></script>
<!-- Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2614381854034', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2614381854034&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='ad673e1c8a2362159797ea8a191bbc1aae1ff456e707d5f63d58fbfe6056e9ee';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
  </body>
</html>

